* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$font-stack-main: 'Poppins', sans-serif;
$font-stack-second: 'Josefin Sans', sans-serif;

$primary-color: #9a8979;
$secondary-color: #4b4845;
$white-color: #fff;
$black-color: #020101;
